h2{
    color: red;
}

@media (max-width: 900px){
    h2{
        color: green;
        background-color: rgb(221, 164, 131);
        font-size: 2rem;
    }
}

@media (max-width: 700px) and (min-width: 600px){
    h1{
        color: yellowgreen;
        background-color: rgb(184, 239, 247);
        font-size: 4rem;
    }
}